node_modules
# Dependency folders
node_modules/
client/node_modules/
server/node_modules/

# Build & cache folders
.next/
dist/
build/
uploads/
client/.next/
client/build/
client/dist/
server/uploads/
.cache/
client/.cache/
server/.cache/

# Environment
.env
.env.*.local

# System/IDE
.DS_Store
*.log
